body {
    font-family: Arial, sans-serif;
	    font-size: 1.0em;
    background-image: url('maldivas.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    text-align: center;
    background-position: center;
    padding-top: 50px;
    margin: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#game-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 5%;
    max-width:  80vw ; /*80vw;  Responsivo para telas grandes */
    width: 100%; /* Responsivo para telas pequenas 
	
    padding: 20px;
    max-width: 850px;*/
}

#game-board {
    display: flex; /* Flexbox para permitir alinhamento horizontal */
    flex-wrap: wrap; /* Permite que as cabanas quebrem para baixo se necessário */
    justify-content: center; /* Centraliza as cabanas horizontalmente */
    gap: 10px; /* Espaçamento entre as cabanas */
    margin-bottom: 20px;
}

.house {
    flex: 0 0 150px; /* Flex não cresce, não encolhe abaixo de 150px e define largura fixa */
    height: auto; /* Ajusta a altura de acordo com o conteúdo */
    margin: 10px 0; /* Espaço vertical entre elementos */
    text-align: center; /* Centraliza o conteúdo dentro da cabana */
    background: rgba(255, 255, 255, 0.9); /* Fundo branco translúcido */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra leve */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
}

.house h2 {
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 10px;
}

select {
    display: block;
    margin: 5px 0;
    padding: 5px;
    /* width: 150px;*/
	width: 90%; /* Largura responsiva do select */
    box-sizing: border-box; /* Inclui padding na largura */
}

#clues {
    text-align: left;
}

.clue {
	    color: #000; /* Cor do texto mais escura */
    text-shadow: 1px 1px 2px white; /* Sombra branca sutil no texto */
    list-style: none;
    margin: 5px 0;
	
	
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

#victory-popup {
    background-color: rgba(0, 128, 0, 0.9);
    border-radius: 10px;
    color: #fff;
    display: none;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 320px; */
	    width: 60%;
    max-width: 400px;
		
}

button {
    background-color: #0d6efd;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
	
    border-radius: 5px;
    width: 100px;
		}

.page-header{
    color: #000; /* Cor do texto mais escura */
    text-shadow: 1px 1px 2px white; /* Sombra branca sutil no texto */
}

.hidden {
display: none;}


@media (min-width: 800px) {
    #game-board {
        justify-content: space-between; /* Espaço uniforme entre as cabanas */
    }
}
